<div id="<%= dom_id emprestimo %>">
  <p>
    <strong>Pessoa:</strong>
    <%= emprestimo.pessoa_id %>
  </p>

  <p>
    <strong>Livro:</strong>
    <%= emprestimo.livro_id %>
  </p>

  <p>
    <strong>Data inicio:</strong>
    <%= emprestimo.data_inicio %>
  </p>

  <p>
    <strong>Data fim:</strong>
    <%= emprestimo.data_fim %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= emprestimo.status %>
  </p>

</div>
